@tailwind base;
@tailwind components;
@tailwind utilities;

.disabledBackground {
    background-color: #E7E8E7;
    border: none;
    color: #b9b9b9
}
.selectDisabled {
    background-color: #f0f0f0 !important;
    border: none !important;
    color: #000 !important
}
html body .Select__control .Select__value-container .Select__input-container input[type="text"] {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: transparent;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
input[type="tel"] {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: transparent;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}